extends layout 

block content 

    if !publishers 
        h2 Sorry there is no publishers to display 
    else 
        if errors 
            each error of errors 
                p= error.msg
        h2 list of all publishers
        ol 
         each publisher of publishers 
            li= `${publisher.name}`

            form(action='/publisher?_method=PUT' method="POST")
                input(type="hidden" name='publisherId' value=`${publisher.id}`)
                input(type="text" minlength="1" maxlength="30" name='publisherName' value=`${publisher.name}` required)
                button(type="submit") Change publisher name
            form(action="/publisher?_method=DELETE" method="POST") 
                input(type="hidden" name="_method" value="DELETE") 

                input(type="hidden" name='publisherId' value= `${publisher.id}`)
                button(type="submit") Remove publisher
        include addPublisherForm

        a(href="/game/new")
            button(type="button") Add new game 