extends layout

block content
  .container
    if game
      .d-flex.justify-content-between.align-items-center.mb-4
        h2.mb-0= game.game_title
        a.btn.btn-primary(href=`/game/${game.id}/edit`) Edit

      img.img-fluid.mb-4.mx-auto.d-block(src!=game.image, alt=`${game.game_title} image`)

      p.lead Publisher: #{game.publisher_name}
      p.lead Rating: #{game.rate}/10
      p.mb-4= game.description

      if game.comments.length > 0
        h3.mt-5 Comments:
        .list-group
          each comment in game.comments
            .list-group-item
              h5.mb-1= comment.username
              p.mb-1= comment.text
      else
        h3.mt-5 Game has no reviews yet!
    else
      h2.text-center.mt-5 Sorry, couldn't find the game
